absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
appscript==1.2.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audio-recorder-streamlit==0.0.8
beautifulsoup4==4.12.2
blinker==1.6.2
Brotli==1.0.9
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.1.0
coremltools==6.3.0
cycler==0.11.0
dash==2.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.5.8
datasets==2.14.5
decorator==5.1.1
dill==0.3.7
dm-tree==0.1.8
dnspython==2.2.1
et-xmlfile==1.1.0
faiss-cpu==1.7.4
Faker==19.1.0
favicon==0.7.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.12.2
Flask==2.2.2
Flask-Compress==1.13
flatbuffers==23.5.26
fonttools==4.41.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.2
h5py==3.9.0
htbuilder==0.6.1
huggingface==0.0.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.7.0
install==1.3.5
itsdangerous==2.1.2
jax==0.4.13
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.17.3
keras==2.12.0
keras-core==0.1.2
keras-nlp==0.6.0
kiwisolver==1.4.4
langchain==0.0.219
langchainplus-sdk==0.0.17
libclang==16.0.6
llvmlite==0.40.1
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.2
mdurl==0.1.2
ml-dtypes==0.2.0
more-itertools==10.0.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
namex==0.0.7
networkx==3.1
nltk==3.8.1
numba==0.57.1
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
onnx==1.14.0
onnxconverter-common==1.13.0
openai==0.27.8
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.1
pip==23.2.1
pandas==2.0.3
Pillow==9.5.0
plotly==5.10.0
protobuf==4.23.4
psutil==5.9.4
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyd==0.13.1
pydantic==1.10.9
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.15.1
pymdown-extensions==10.1
pymongo==4.2.0
Pympler==1.0.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
SQLAlchemy==2.0.17
st-annotated-text==4.0.0
streamlit==1.24.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.5
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy==1.12
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-cpu==2.13.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-macos==2.12.0
tensorflow-text==2.13.0
termcolor==2.3.0
tf2onnx==1.8.4
threadpoolctl==3.2.0
tiktoken==0.3.1
tk==0.1.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchaudio==2.1.0.dev20230726
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
transformers @ git+https://github.com/huggingface/transformers@1486d2aec2c667aa2beeed5eaac6625c87577093
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
urllib3==1.26.16
validators==0.20.0
Werkzeug==2.2.2
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.0.3
xxhash==3.3.0
yarl==1.9.2
zipp==3.15.0
